body {
    background-color: a;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

h2 {
    size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

h3 {
    color: #1F2937;
    font-style: italic;
    font-weight:lighter;
    font-size: 36px;
    text-align: left;
}

h4 {
    color: #1F2937;
    text-align: right;
    font-size: 20px;
}

.topnav {
    background-color: #1F2937;
}

p {
    color: blue;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.headerlogo {
    color: white;
}

.hero-text {
    text-align: left;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-signup {
    color: #E5E7EB;
}

.hero-img {
    color: #F9FAF8;
    size: 4px;
}

.product-peek {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-around;
}

.quote-section {
    background-color: #E5E7EB;
}

.prod-img1 {
    display: flex;
    flex-direction: row;
    width: 20px;
    height: 20px;
    margin: auto;
}

.prod-img2 {
    display: flex;
    flex-direction: row;
    width: 20px;
    height: 20px;
    margin: auto;
}

.prod-img3 {
    display: flex;
    flex-direction: row;
    width: 20px;
    height: 20px;
    margin: auto;
}

.prod-img4 {
    display: flex;
    flex-direction: row;
    width: 20px;
    height: 20px;
    margin: auto;
}

.sub {
    font-size: 18px;
    color: black;
}