body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}


h1 {
    size: 60px;
    color: #F9FAF8;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

h2 {
    size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

h3 {
    color: #1F2937;
    font-style: italic;
    font-weight:lighter;
    font-size: 36px;
    text-align: left;
}

h4 {
    color: #1F2937;
    text-align: right;
    font-size: 20px;
    padding: 0px 100px 0px 0px;
}

.topnav {
    background-color: #1F2937;
    display: flex;
    padding: 10px;
    margin: 0;
}

.navbar {
    margin: 0;
    padding: 0;
    text-align: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    padding: 15px 12px;
    text-align: center;
    text-decoration: none;
}

.headerlogo {
    color: white;
}

.hero-container {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    margin: 0;
    padding: 10px;
    height: 35vh;
}

.hero-text {
    color: #E5E7EB;
    font-size: 18px;
    max-width: 50vh;
    margin: 60px 0px;
    padding: 0;
}

.hero-signup {
    color: #E5E7EB;
    background-color: #3882F6;
    text-align: center;
    border-radius: 7px;
    margin: 0;
    padding: 5px 15px;
    width: 8vh;
    height: 2.5vh;
}

.hero-img {
    margin: 55px 10px;
    padding: 0vh 2vh;
    width: 45vh;
    height: 23vh;
    max-width: 60vh;
    opacity: 80%;
}

.product-peek {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-around;
}

.quote-section {
    color: #1F2937;
    font-style: italic;
    font-weight:lighter;
    font-size: 26px;
    text-align: left;
    padding: 0px 60px 0px 60px;
}

.prod-img1 {
    display: flex;
    flex-direction: row;
    width: 20px;
    height: 20px;
    margin: auto;
}

.prod-img2 {
    display: flex;
    flex-direction: row;
    width: 20px;
    height: 20px;
    margin: auto;
}

.prod-img3 {
    display: flex;
    flex-direction: row;
    width: 20px;
    height: 20px;
    margin: auto;
}

.prod-img4 {
    display: flex;
    flex-direction: row;
    width: 20px;
    height: 20px;
    margin: auto;
}

.sub {
    font-size: 18px;
    color: black;
}

.cta {
    display: flex;
    justify-content: space-around;
    margin: 10vh 8vh;
    padding: 15px;
    background-color: #3882F6;
    border-radius: 7px;
    width: 90vh;
}

.cta-text {
    font-size: 10px;
    color: white;
    text-align: left;
    margin: 1vh 5vh 1vh 4vh;
    line-height: 2px;
}

.cta-button-wrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin: 1vh 8vh 0vh 0vh;
    padding: 0;
    
}
.cta-button {
    color: white;
    border: #ffffff 2px solid;
    text-align: center;
    border-radius: 7px;
    margin: 2vh;
    padding: 3px;
    width: 12vh;
    height: 2.5vh;
}

footer {
    margin: 0;
    padding: 0;
}

.foot-text {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 1vh;
    margin: 0;

}

.foot {
    color:white;
    text-align: center;
    position: relative;
    padding: 0;
    margin: 0;
}